# For description on how to set up imagej plugin jar,
# see: http://imagejdocu.tudor.lu/doku.php?id=howto:plugins:howto_create_an_imagej_plugin_jar_file
Plugins>LDSegmenter, "Preprocess", ldSegmenterPlugin.Preprocess_
Plugins>LDSegmenter, "Annotate", ldSegmenterPlugin.Annotate_
Plugins>LDSegmenter, "Classify", ldSegmenterPlugin.RunSVM_